<p>skills works!</p>
<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="skills selection">
      <mat-chip *ngFor="let skills of skills" [selectable]="selectable"
               [removable]="removable" (removed)="remove(skills)">
        {{skills.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New skill..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  
<br>
  
<form [formGroup]="form" class="example-form">
   <input type="checkbox" formControlName="published"> 
   <div *ngIf="form.controls.published.value">

     
     <button (click)="addCreds()" class="btn btn-primary">Add New Experience</button>
    
     <div formArrayName="credentials" *ngFor="let creds of form.controls.credentials?.value; let j = index">
       <ng-container [formGroupName]="">
         
            <input   type="text"  formControlName="exp" [formControl]="skills.controls[j]"> <button (click)="deleteCreds(j)" class="btn btn-primary">Delete Experience</button>
      
       </ng-container>
     </div>

   </div>
 </form>