
    <mat-card class="card"> Formulaire Form

    <form [formGroup]="loginForm" class="example-form">
    
  
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput   type="text" placeholder="email" name="email"  formControlName="email" value="{{email1}}">
        
      </mat-form-field>
      <div *ngIf="email.invalid &&  email.touched"
    >
  
      <mat-error  *ngIf="loginForm.hasError('required','email')">
        Email is <strong>required</strong>
      </mat-error >
      <mat-error  *ngIf="loginForm.hasError('errors','email')">
        Verify your mail.
      </mat-error >
      </div>
      <mat-form-field class="example-full-width">
          <mat-label>password</mat-label>
          <input matInput placeholder="password"  type="password"   formControlName="password">
      </mat-form-field>
      <div *ngIf="password.invalid &&  password.touched"
      class="alert alert-danger">
    <mat-error *ngIf="loginForm.hasError('errors','password')">
        
          password required.
       
      </mat-error>
        <div *ngIf="password.errors.minLength">
            password should contain at least 8 carcters
          </div>
         <!-- <div *ngIf="password.errors.pattern">
            password should contain at least an UpperCase letter
          </div>-->
        </div>
  
  
      <div class="button-wrapper">
          <button mat-flat-button style="margin-bottom: 20px;" class="btn btn-primary" (click)="show()" >Submit</button>
       
        </div>
       
  
       <!-- <ul class="login-more p-t-190">
  
  
          <li>
              <span class="txt1">
                  Don’t have an account?
              </span>
  
              <a routerLink="/register" class="txt2">
                  register
              </a>
          </li>
      </ul>-->
  
    </form>
  </mat-card>

  <input type="text" [(ngModel)]="input1">
  <input type="text" [(ngModel)]="input2">
  <button type="button" (click)="myfunction()">Show</button>