.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .coler{
background-color:red;
  }
.colerg{
  background-color: green;
}
  .example-full-width {
    width: 100%;
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }
    }
    section {
        display: table;
        margin: 8px;
      }
      
      .example-label {
        display: table-cell;
        font-size: 14px;
        margin-left: 8px;
        width: 120px;
      }
      
      .example-button-row {
        display: table-cell;
      }
      
      .example-button-row button {
        display: table-cell;
        margin-right: 8px;
      }
      
      .example-flex-container {
        display: flex;
        justify-content: space-between;
        width: 480px;
      }
      
      .example-button-container {
        display: flex;
        justify-content: center;
        width: 120px;
      }
      .active{ color: green}
      .inactive{color: red}
      .card{width: 250px;
        margin-top: 80px;
        margin-left: 480px;
        background-color: gainsboro;
    }
    .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }
    
    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }