
    <mat-card class="card"> Formulaire Form

    <form [formGroup]="loginForm" class="example-form">
    
  
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput   type="text" placeholder="email" name="email"  formControlName="email" value="{{email1}}" [(ngModel)]="input1">
        
      </mat-form-field>
      <div *ngIf="email.invalid &&  email.touched"
    >
  
      <mat-error  *ngIf="loginForm.hasError('required','email')">
        Email is <strong>required</strong>
      </mat-error >
      <mat-error  *ngIf="loginForm.hasError('errors','email')">
        Verify your mail.
      </mat-error >
      </div>
      <mat-form-field class="example-full-width">
          <mat-label>password</mat-label>
          <input matInput placeholder="password"  type="password"  formControlName="password" [(ngModel)]="input2">
      </mat-form-field>
      <mat-error *ngIf="password.invalid &&  password.touched"
      class="alert alert-danger">
      </mat-error>
    <mat-error *ngIf="loginForm.hasError('errors','password')">
        
          password required.
       
      </mat-error>
        <mat-error *ngIf="password.errors.minLength">
            password should contain at least 8 carcters
          </mat-error>
         <!-- <div *ngIf="password.errors.pattern">
            password should contain at least an UpperCase letter
          </div>-->
        
  
  
      <div class="button-wrapper">
          <button mat-flat-button style="margin-bottom: 20px;" class="btn btn-primary" (click)="onSubmit()" >Submit</button>
       
        </div>
       
  
       <!-- <ul class="login-more p-t-190">
  
  
          <li>
              <span class="txt1">
                  Don’t have an account?
              </span>
  
              <a routerLink="/register" class="txt2">
                  register
              </a>
          </li>
      </ul>-->
  
    </form>
  </mat-card>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody> 
      <tr>
        <tr>
          <td></td>
          <td><h4>{{input1}}</h4></td>
          <td><h4>{{input2}}</h4></td>
         
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="myfunction()">Show</button>

 <!-- <input type="text" [(ngModel)]="input1">
  <input type="text" [(ngModel)]="input2">
  <button type="button" (click)="myfunction()">Show</button> -->